
body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Roboto', 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:before {
  box-sizing: border-box;
  display: block;
  background: #008080;
  padding: 12px;
  width: 100vw;
  color: white;
  font-weight: 600;
  /* content: "Drew Cuddhy - dcuddhy@gmail.com"; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
